/* MainNavigation.module.scss */
.header {
  background-color: #fff;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #333;
  z-index: 1500;
  width: 100%;
  padding-bottom: 5px;

  .nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .hamburger {
    display: flex; /* 플렉스 컨테이너 */
    justify-content: flex-start; /* 중앙 정렬 */
    align-items: center;
    width: 30px; /* 아이콘 크기 조정 */
    height: 30px;
    padding-top: 5px;
    color: #333;
    cursor: pointer;

    @media screen and (max-width: 480px) {
      display: none; /* 모바일에서는 기존 버튼 숨김 */
    }
  }
}

@media screen and (max-width: 480px) {
  .nav {
    width: 100%; /* 화면 너비에 맞게 확장 */
    padding-right: 10px;
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end !important;
  }

  /* 커스텀 버튼은 styled-components에서 관리 */
}
